:root {
   /* --color-bg: #0d1b2c;
   --color-bg-varient: #182941; */
   --color-bg: #021426;
   --color-bg-varient: #031d3d;
   --color-primary: #002654;
   --color-union-blue: #002d5a;
   --color-primary-varient: #011f3b;
   --color-white: #fff;
   --color-offWhite: #f8e6cd;
   --color-light: rgba(255, 255, 255, 0.6);
   --color-red: #ce1126;
   --color-capital-silver: #A4A9AD; 
}