.player-tile {
    display: flex;
    background-color: #152a47;
    color: antiquewhite;
    /* height: 11rem;
    width: 11rem; */
    height: 10rem;
    width: 10rem;
    border-radius: 12px;
    flex-direction: column;
    align-items: center;
    font-family: 'Apex mk2';

}


.player-name{
    margin: 1.2rem 0 0 0;
    letter-spacing: -.15rem;
    font-size: 1rem;
    font-family: 'NHL_Edge_Columbus';
}

.player-number{
    margin: .85rem .75rem 0.85rem 0;
    font-family: 'NHL_Edge_Columbus';
    letter-spacing: -.7rem;
    font-size: 3.5rem;
}

.player-position {
    margin: 0;
    opacity: 0.3;
    transform: scale(1, 1.25)
}

.player-shoots {
    margin: 0.75rem 0 0 0;
    opacity: 0;
}

.player-shoots::before {
    content: 'Shoots: ';
    opacity: .5;
}